/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: lightyellow;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('https://www.impericon.com/cdn/shop/collections/20161101_pokemon_mobile_2x_0e5e6082-2584-43d3-aba2-6f51082fee6a.jpg?v=1720177600');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 50px;
}

#search {
    padding: 10px;
    width: 50%;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* Table Styles */
#pokemon-table-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0077cc;
    color: white;
}

td img {
    width: 50px;
    height: 50px;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    th, td {
        font-size: 14px;
        padding: 10px;
    }

    td img {
        width: 40px;
        height: 40px;
    }
}

.type-button {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1em;
    color: white;
    text-transform: uppercase;
    pointer-events: none;
    cursor: default;
}

.type-grass {
    background-color: lawngreen;
}

.type-poison {
    background-color: mediumpurple;
}

.type-fire {
    background-color: orange;
}

.type-water {
    background-color: lightblue;
}

.type-electric {
    background-color: yellow;
}

.type-ice {
    background-color: aquamarine;
}

.type-psychic {
    background-color: khaki;
}

.type-rock {
    background-color: black;
}

.type-fighting {
    background-color: darkred;
}

.type-flying {
    background-color: indigo;
}

.type-ground {
    background-color: darkolivegreen;
}

.type-null {
    background-color: darkgrey;
}

.type-bug {
    background-color: greenyellow;
}

.type-normal {
    background-color: deeppink;
}

.type-ghost {
    background-color: dimgray;
}

.type-fairy {
    background-color: blue;
}

.type-steel {
    background-color: darkslategrey;
}

.type-dragon {
    background-color: indianred;
}

#pokemon-table img {
    border: none;
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 70px;
}
