/* General styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header {
    background-color: pink;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

/* Table Styles */
#pokemon-table-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #0077cc;
    color: white;
}

td img {
    width: 50px;
    height: 50px;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    th, td {
        font-size: 14px;
        padding: 10px;
    }

    td img {
        width: 40px;
        height: 40px;
    }
}
